# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
# Archivos de compilación
target/
build/
# Archivos de sistema
.DS_Store
Thumbs.db
# Logs
*.log
# Archivos temporales
*.tmp
*.temp